@import 'variables';

.navbar{
	padding: 20px;
	margin-bottom: 40px;

    .bwm-search{
      height: 50px;
      width: 300px;
    }

   .btn-bwm-search{
    border-color: $min-color;
    color: $min-color;
    &:hover, &:focus, &:active{
     background-color: transparent;
     border-color: $min-color !important;
     box-shadow: none;
     color: $min-color !important;

    }
   }


	.navbar-brand{
	margin-right: 30px;
	font-size: 30px;
	letter-spacing: 1px;
	color: $min-color;
	font-weight: 500;
	}

	.nav-item{
	font-size: 14px;
	}
}